body{
    font-family: arial;
    color: black;
    background-color: rgb(229, 229, 229);
    text-align: center;
}

/* .container1{

    background-color: aqua;
    width: 300px;
    display: block;
    position: relative;
    text-align: center;
    display: contents;
    border: 1px solid #000;
} */

#length{
    text-align: center;
    width: 100px;
    border: none;
    border-radius: 5px;
}

#passLen label{
    margin-top: 8px;
}

/* #slider::-webkit-slider-thumb{
    appearance: none;
    width: 48px;
    height: 48px;
} */

h1{
    /* margin-top: 10rem; */
    font-size: 3rem;
    color: #fff;
    background-color:#25D366;
    max-width: fit-content;
    border-radius: 5px;
    border: none;
    /* border: 0.1px solid rgb(37, 37, 37); */
    box-shadow: 5px 5px 15px rgb(142, 142, 142);
    padding: 25px;
    display: inline-flex;
    text-transform: capitalize;
    font-weight: bold;
}

#container{
    display: inline-block;
}

#myH2{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#container #passLen{
    display: flex;
    font-size: 1.5em;
}

#myP{
    font-size: 2em;
    margin-top: 4px;
}

button{
    color: #fff;
    padding: 10px 25px;
    font-size: 2rem;
    border: none;
    border-radius: 15px;
    background-color:#25D366;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    font-size: 2.5rem;
    transition: .5s;
}

button:active{
    background-color: hsl(0, 93%, 40%);
}

input{
    transform: scale(2);
    margin-left: 10px;
    margin-right: 3px;
}

label{
    font-size: 2em;
    margin-right: 10px;
    padding-top: 2px;
    display: inline-block;
    text-transform: lowercase;
}

#myP1{
    margin-top: 0px;
    display: block;
    font-size: 50px;
}

#pass1{
    margin-bottom: 15px;
    font-size: 3em;
}